.sapUiDemoWT .myCustomButton.sapMBtn {
  margin-right: 0.125rem
}

html[dir="rtl"] .sapUiDemoWT .myCustomButton.sapMBtn {
  margin-left: 0.125rem;
  margin-right: 0
}

.sapUiDemoWT .myCustomText {
  font-weight: bold;
}